<div class="card">
    <div class="card-header">
        <h5>Personal Details</h5>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Full Name</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">Akshay Handge</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Father's Name</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">Mr. Deepak Handge</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Address</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">Street 110-B Kalani Bag, Dewas, M.P. INDIA</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Zip Code</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">12345</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Phone</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">+0 123456789 , +0 123456789</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Email</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0"><a href="mailto:support@example.com" class="link-primary">support&#64;example.com</a></h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Website</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0"><a href="#" class="link-primary">http://example.com</a></h6>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>other Information</h5>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Occupation</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">Designer</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Skills</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">C#, Javascript, Scss</h6>
            </div>
        </div>
        <div class="row g-3 mt-0">
            <div class="col-md-4">
                <p class="mb-0 text-muted">Jobs</p>
            </div>
            <div class="col-md-6">
                <h6 class="mb-0">Phoenixcoded</h6>
            </div>
        </div>
    </div>
</div>