<app-breadcrumb [Title]="'DataTable'" [pageTitle]="'Responsive'"></app-breadcrumb>

<div class="row">
  <!-- prettier-ignore -->
  <div class="col-md-10 col-xxl-9 mb-4">
    <h5>DataTables Extensions</h5>
    <p class="text-muted">The features that DataTables provides can be greatly enhanced by the use of the plug-ins
      available on this page, which give many new user interaction and configuration options.</p>
    <div>
      <a class="btn btn-sm btn-light-dark rounded-pill px-2" role="button" target="_blank"
        href="https://datatables.net/extensions/index">
        <i class="ti ti-external-link me-1"></i>
        Reference
      </a>
    </div>
  </div>

</div>
<div class="row">
  <!-- Config table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Configuration Option</h5>
        <small>The Responsive extension for DataTables can be applied to a DataTable in one of two ways; with a specific
          class name on
          the table.</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for First Table -->
        <input type="text" [(ngModel)]="searchText1" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for First Table -->
        <select [(ngModel)]="itemsPerPage1" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <table id="res-config" class="display table table-striped table-hover dt-responsive nowrap" style="width: 100%">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Extn.</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tableData | paginate: { itemsPerPage: itemsPerPage1, currentPage: p1 }">
              <td>{{ data.firstName }}</td>
              <td>{{ data.lastName }}</td>
              <td>{{ data.position }}</td>
              <td>{{ data.office }}</td>
              <td>{{ data.age }}</td>
              <td>{{ data.startDate }}</td>
              <td>{{ data.salary }}</td>
              <td>{{ data.extn }}</td>
              <td>{{ data.email }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <!-- Config table end -->
  <!-- `New` Constructor table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>New Constructor</h5>
        <small>The third way of initialising Responsive is by manually creating a new instance using the
          $.fn.dataTable.Responsive
          class, as shown in this example the other two methods are provided using this constructor</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for First Table -->
        <input type="text" [(ngModel)]="searchText2" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for First Table -->
        <select [(ngModel)]="itemsPerPage2" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="dt-responsive table-responsive">
          <table id="new-cons" class="display table table-striped table-hover dt-responsive nowrap" style="width: 100%">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Extn.</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableDataTwo | paginate: { itemsPerPage: itemsPerPage2, currentPage: p2 }">
                <td>{{ data.firstName }}</td>
                <td>{{ data.lastName }}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.office }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.startDate }}</td>
                <td>{{ data.salary }}</td>
                <td>{{ data.extn }}</td>
                <td>{{ data.email }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- `New` Constructor table end -->
  <!-- Immediately Show Hidden Details table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Immediately Show Hidden Details</h5>
        <small>Responsive has the ability to display the details that it has hidden in a variety of different ways. Its
          default is to
          allow the end user to toggle the the display by clicking on a row and showing the information in a DataTables
          child
          row</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for First Table -->
        <input type="text" [(ngModel)]="searchText3" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for First Table -->
        <select [(ngModel)]="itemsPerPage3" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="dt-responsive table-responsive">
          <table id="show-hide-res" class="display table table-striped table-hover dt-responsive nowrap"
            style="width: 100%">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Extn.</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableDataThree | paginate: { itemsPerPage: itemsPerPage1, currentPage: p1 }">
                <td>{{ data.firstName }}</td>
                <td>{{ data.lastName }}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.office }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.startDate }}</td>
                <td>{{ data.salary }}</td>
                <td>{{ data.extn }}</td>
                <td>{{ data.email }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Immediately Show Hidden Details table end -->
</div>
