<ul class="list-unstyled">
    <!-- ======= Menu collapse Icon ===== -->
    <li class="pc-h-item pc-sidebar-collapse">
      <a href="javascript: void(0);" class="pc-head-link ms-0" (click)="toggleSidebar()">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>

    <li class="pc-h-item pc-sidebar-popup">
      <a href="javascript: void(0);" class="pc-head-link ms-0" id="mobile-collapse" (click)="toggleSidebarMobile()">
          <i class="ti ti-menu-2"></i>
      </a>
  </li>
    <li class="dropdown pc-h-item d-inline-flex d-md-none">
        <a class="pc-head-link dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="ph-duotone ph-magnifying-glass"></i>
        </a>
        <div class="dropdown-menu pc-h-dropdown drp-search">
            <form class="px-3">
                <div class="mb-0 d-flex align-items-center">
                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search..." />
                    <button class="btn btn-light-secondary btn-search">Search</button>
                </div>
            </form>
        </div>
    </li>
    <li class="pc-h-item d-none d-md-inline-flex">
        <form class="form-search">
            <i class="ph-duotone ph-magnifying-glass icon-search"></i>
            <input type="search" class="form-control" placeholder="Search..." />

            <button class="btn btn-search" style="padding: 0"><kbd>ctrl+k</kbd></button>
        </form>
    </li>
</ul>
