<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xxl-6">
        <div class="card border text-center">
            <div class="card-body">
                <img src="../assets/images/admin/img-payment-1.png" alt="images" class="img-fluid mb-4" />
                <h5>Establish your payment gateway</h5>
                <p class="text-muted">Able Pro: pay streamlines your payout process, facilitating faster payments while managing author and affiliate payouts on your behalf.</p>
                <div class="mb-3 text-start">
                    <label class="form-label">Mobile Phone</label>
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <div class="input-group">
                                <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" placeholder="https://admin123-20" />
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <button class="btn btn-primary" (click)="next.emit()">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>