<app-breadcrumb [Title]="'Forms'" [pageTitle]="'Classic Editor'"></app-breadcrumb>


<div class="row">
  <!-- [ Classic-editor ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Classic Editor</h5>
      </div>
      <div class="card-body">
        <!-- <ckeditor [editor]="Editor" [(ngModel)]="editorData" data="" class="ckeditor-classic text-slate-800">
        </ckeditor> -->
      </div>
    </div>
  </div>
  <!-- [ Classic-editor ] end -->
</div>
