<app-breadcrumb [Title]="'Profile'" [pageTitle]="'User List'"></app-breadcrumb>

<div class="row">
    <div class="col-sm-12">
        <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="form-control mb-2" />
        <select [(ngModel)]="itemsPerPage" class="form-control mb-2">
            <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
        <div class="card border-0 table-card user-profile-list">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="pc-dt-simple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of (paginatedUsers | paginate: { itemsPerPage: itemsPerPage, currentPage: p })">
                                <td>
                                    <div class="d-inline-block align-middle">
                                        <img [src]="user.avatarImage" alt="user image" class="img-radius align-top m-r-15" style="width: 40px" />
                                        <div class="d-inline-block">
                                            <h6 class="m-b-0">{{user.name}}</h6>
                                            <p class="m-b-0 text-primary">{{user.position}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ user.position }}</td>
                                <td>{{ user.office }}</td>
                                <td>{{ user.age }}</td>
                                <td>{{ user.startDate }}</td>
                                <td><span class="badge" [ngClass]="{'bg-light-success': user.status === 'Active','bg-light-danger': user.status === 'Disabled' }">
                                        {{ user.status }}
                                    </span>
                                    <div class="overlay-edit">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item m-0"><a href="#" class="avtar avtar-s btn btn-primary"><i class="ti ti-pencil f-18"></i></a></li>
                                            <li class="list-inline-item m-0"><a href="#" class="avtar avtar-s btn bg-white btn-link-danger"><i class="ti ti-trash f-18"></i></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>