<app-breadcrumb [Title]="'Icons'" [pageTitle]="'Material Icons'"></app-breadcrumb>

<div class="row">
  <!-- [ material-icon ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Material Icon</h5>
        <p>Use material two tone icon with
          <code>&lt;i class="material-icons-two-tone"&gt; &lt;&lt; Copied code &gt;&gt;&lt;/i&gt;</code> in you
          html code</p>
      </div>
      <div class="card-body text-center">
        <a href="https://fonts.google.com/icons" target="_blank">View Matiral icons</a>
      </div>
    </div>
  </div>
</div>
