<app-breadcrumb [Title]="'Table'" [pageTitle]="'Sorting'"></app-breadcrumb>

<div class="row">
  <!-- [ basic-table ] start -->
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5>Datetime Sorting</h5>
      </div>
      <div class="table-controls">
        <!-- Search Input -->
        <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown -->
        <select [(ngModel)]="itemsPerPage" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body table-border-style">
        <div class="table-responsive">
          <table class="table" id="pc-dt-satetime-sorting">
            <thead>
              <tr>
                <th (click)="sort('iso8601')">ISO 8601</th>
                <th (click)="sort('mysql')">MySQL</th>
                <th (click)="sort('rfc2822')">RFC 2822</th>
                <th (click)="sort('mmmDdYyyy')">MMM DD, YYYY</th>
                <th (click)="sort('ddMmYyyy')">DD/MM/YYYY</th>
                <th (click)="sort('mmDdYy')">MM-DD-YY</th>
                <th (click)="sort('unix')">UNIX</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of (filteredPeople | paginate: { itemsPerPage: itemsPerPage, currentPage: p })">
                <td>{{ row.iso8601 }}</td>
                <td>{{ row.mysql }}</td>
                <td>{{ row.rfc2822 }}</td>
                <td>{{ row.mmmDdYyyy }}</td>
                <td>{{ row.ddMmYyyy }}</td>
                <td>{{ row.mmDdYy }}</td>
                <td>{{ row.unix }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- [ basic-table ] end -->
</div>
