<app-breadcrumb [Title]="'Icons'" [pageTitle]="'Tabler Icons'"></app-breadcrumb>


<div class="row">
  <!--[ phosphor-icon ] start-->
  <div class="col-sm-12">
    <div class="card icon-card">
      <div class="card-header">
        <h5>Phosphor</h5>
        <p>Use icon with <code>&lt;i class="&lt;&lt; Copied code &gt;&gt;"&gt;</code> in you html code </p>
      </div>
      <div class="card-body text-center">
        <iframe src="https://phosphoricons.com/" class="icon-iframe"></iframe>
      </div>
    </div>
  </div>
  <!--[ phosphor-icon ] end-->
</div>
