<app-breadcrumb [Title]="'Table'" [pageTitle]="'Fetch API'"></app-breadcrumb>

<div class="row">
  <!-- [ basic-table ] start -->
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5>Fetch API</h5>
      </div>
      <div class="table-controls">
        <!-- Search Input -->
        <input type="text" [(ngModel)]="searchText" (ngModelChange)="applyFilters()" placeholder="Search..."
          class="form-control mb-2" />

        <!-- Entries per Page Dropdown -->
        <select [(ngModel)]="itemsPerPage" (change)="applyFilters()" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>

      <div class="card-body table-border-style">
        <div class="table-responsive">
          <table class="table" id="pc-dt-fetchapi">
            <thead>
              <tr>
                <th (click)="onSortChange('Name')">Name</th>
                <th (click)="onSortChange('Ext')">Ext.</th>
                <th (click)="onSortChange('City')">City</th>
                <th (click)="onSortChange('StartDate')">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: p })">
                <td>{{ item.Name }}</td>
                <td>{{ item.Ext }}</td>
                <td>{{ item.City }}</td>
                <td>{{ item.StartDate }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
  <!-- [ basic-table ] end -->
</div>
