<app-breadcrumb [Title]="'Icons'" [pageTitle]="'Feather Icon'"></app-breadcrumb>

<div class="row">
  <!-- [ feather-icon ] start -->
  <div class="col-sm-12">
    <div class="card icon-card">
      <div class="card-header">
        <h5>Feather Icon</h5>
        <p>Use svg icon with <code>&lt;i data-feather="&lt;&lt; Copied code &gt;&gt;"&gt;</code> in you html code
        </p>
      </div>
      <div class="card-body text-center">
        <iframe src="https://feathericons.com/" class="icon-iframe"></iframe>
      </div>
    </div>
  </div>
  <!-- [ feather-icon ] end -->
</div>
