<button class="btn btn-link-secondary d-flex align-items-center" (click)="previous.emit()"><i class="ti ti-chevron-left"></i> Back Step</button>
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xxl-6">
        <div class="card border text-center">
            <div class="card-body">
                <img src="../assets/images/admin/img-payment-2.png" alt="images" class="img-fluid mb-4" />
                <h5 class="mb-4">Inform us about your enterprise</h5>
                <div class="row justify-content-center text-start">
                    <div class="col-sm-10 col-md-8 col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label">What is your current tax filing situation?</label>
                            <select class="form-select">
                                <option selected>LLC</option>
                                <option value="1">LLC 1</option>
                                <option value="2">LLC 2</option>
                                <option value="3">LLC 3</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">What were your total sales for the previous year?</label>
                            <select class="form-select">
                                <option selected>$100-$1000</option>
                                <option value="1">$101-$2000</option>
                                <option value="2">$2001-$3000</option>
                                <option value="3">$3001-$4000</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">What is your business name?</label>
                            <input type="text" class="form-control" placeholder="Business name" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="next.emit()">Confirm</button>
            </div>
        </div>
    </div>
</div>