<div class="card-body">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6 col-xl-4 my-2">
      <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0 me-1">Bitcoin</p>
        <p class="mb-0 text-muted"><i class="ph-duotone ph-caret-up f-20 align-bottom text-success"></i> 0.73%</p>
      </div>
      <div class="mt-1 row align-items-center">
        <div class="col-6">
          <h5 class="mb-0">£ 5678.09</h5>
          <p class="text-muted mb-0">Total Tasks</p>
        </div>
        <div class="col-6">
          <div id="bitcoin-chart-1"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 my-2">
      <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0 me-1">Bitcoin</p>
        <p class="mb-0 text-muted"><i class="ph-duotone ph-caret-down f-20 align-bottom text-danger"></i> 0.73%
        </p>
      </div>
      <div class="mt-1 row align-items-center">
        <div class="col-6">
          <h5 class="mb-0">£ 5678.09</h5>
          <p class="text-muted mb-0">Total Tasks</p>
        </div>
        <div class="col-6">
          <div id="bitcoin-chart-2"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 my-2">
      <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0 me-1">Bitcoin</p>
        <p class="mb-0 text-muted"><i class="ph-duotone ph-caret-up f-20 align-bottom text-primary"></i> 0.73%</p>
      </div>
      <div class="mt-1 row align-items-center">
        <div class="col-6">
          <h5 class="mb-0">£ 5678.09</h5>
          <p class="text-muted mb-0">Total Tasks</p>
        </div>
        <div class="col-6">
          <div id="bitcoin-chart-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
