<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="my-n4 text-center mx-auto" style="max-width: 130px">
          <div id="total-earning-chart-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="my-n4 text-center mx-auto" style="max-width: 130px">
          <div id="total-earning-chart-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
