<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xxl-6">
        <div class="card border text-center">
            <div class="card-body">
                <h5>Confirm your domain</h5>
                <p class="text-muted">If you edit this domain, your school URL will update the next time you log out.</p>
                <img src="../assets/images/admin/img-domain.png" alt="images" class="img-fluid mb-4" />
                <div class="mb-3 text-start">
                    <label class="form-label">URL</label>
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="https://admin123-20" />
                                <span class="input-group-text">.ablepro.com</span>
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <button class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>