<app-breadcrumb [Title]="'DataTable'" [pageTitle]="'Advance Initialization'"></app-breadcrumb>


<div class="row">
  <!-- prettier-ignore -->
  <div class="col-md-10 col-xxl-9 mb-4">
    <h5>DataTables</h5>
    <p class="text-muted">DataTables is a Javascript HTML table enhancing library. It is a highly flexible tool, built
      upon the foundations of progressive enhancement, that adds all of these advanced features to any HTML table.</p>
    <div>
      <a class="btn btn-sm btn-light-dark rounded-pill px-2" role="button" target="_blank"
        href="https://datatables.net/">
        <i class="ti ti-external-link me-1"></i>
        Reference
      </a>
    </div>
  </div>

</div>
<div class="row">
  <!-- DOM/Jquery table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>DOM/Jquery</h5>
        <small>Events assigned to the table can be exceptionally useful for user interaction, however you must be aware
          that DataTables
          will add and remove rows from the DOM.</small>
      </div>

      <div class="table-controls">
        <!-- Search Input for First Table -->
        <input type="text" [(ngModel)]="searchText1" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for First Table -->
        <select [(ngModel)]="itemsPerPage1" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableData | paginate: { itemsPerPage: itemsPerPage1, currentPage: p1 }">
                <td>{{ data.name }}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.office }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.startDate }}</td>
                <td>{{ data.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
          <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- DOM/Jquery table end -->
  <!-- Column Rendering table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Column Rendering</h5>
        <small>This example shows the person's age combined with their name in the first column, hiding the age
          column.</small>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-controls">
            <!-- Search Input for Second Table -->
            <input type="text" [(ngModel)]="searchText2" placeholder="Search..." class="form-control mb-2" />

            <!-- Entries per Page Dropdown for Second Table -->
            <select [(ngModel)]="itemsPerPage2" class="form-control mb-2">
              <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
            </select>
          </div>

          <table class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableDataTwo | paginate: { itemsPerPage: itemsPerPage2, currentPage: p2 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
          <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Column Rendering table end -->
  <!-- Multiple Table Control Elements start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Multiple Table Control Elements</h5>
        <small>In addition to this, you can also use dom to create multiple instances of these table controls. Simply
          include the
          feature's identification letter where you want it to appear.</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Third Table -->
        <input type="text" [(ngModel)]="searchText3" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Third Table -->
        <select [(ngModel)]="itemsPerPage3" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive table-responsive">
          <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
          <table id="multi-table" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableData | paginate: { itemsPerPage: itemsPerPage3, currentPage: p3 }">
                <td>{{ data.name }}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.office }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.startDate }}</td>
                <td>{{ data.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
          <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Multiple Table Control Elements end -->
  <!-- Complex Headers With Column Visibility table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Complex Headers With Column Visibility</h5>
        <small>Complex headers (using colspan / rowspan) can be used to group columns of similar information in
          DataTables, creating a
          very powerful visual effect.</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Third Table -->
        <input type="text" [(ngModel)]="searchText4" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Third Table -->
        <select [(ngModel)]="itemsPerPage4" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="complex-header" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th rowspan="2">Name</th>
                <th colspan="2">HR Information</th>
                <th colspan="3">Contact</th>
              </tr>
              <tr>
                <th>Position</th>
                <th>Salary</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredDataFour | paginate: { itemsPerPage: itemsPerPage4, currentPage: p4 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>

          <pagination-controls (pageChange)="p4 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Complex Headers With Column Visibility table end -->
  <!-- Language File table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Language File</h5>
        <small>As well as being able to pass language information to DataTables through the language initialization
          option, you can also
          store the language information in a file</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Fourth Table -->
        <input type="text" [(ngModel)]="searchText5" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Fourth Table -->
        <select [(ngModel)]="itemsPerPage5" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="lang-file" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row of filteredDataFive | paginate: { itemsPerPage: itemsPerPage5, currentPage: p5 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>

          <pagination-controls (pageChange)="p5 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Language File table end -->
  <!-- Setting Defaults table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Setting Defaults</h5>
        <small>When working with DataTables over multiple pages it is often useful to set the initialization defaults to
          common values
        </small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Fourth Table -->
        <input type="text" [(ngModel)]="searchText6" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Fourth Table -->
        <select [(ngModel)]="itemsPerPage6" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="setting-default" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredDatasix | paginate: { itemsPerPage: itemsPerPage6, currentPage: p6 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>

          <pagination-controls (pageChange)="p6 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Setting Defaults table end -->
  <!-- Row Grouping table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Row Grouping</h5>
        <small>Although DataTables doesn't have row grouping built-in (picking one of the many methods available would
          overly limit the
          DataTables core), it is most certainly possible to give the look and feel of row grouping.</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Fourth Table -->
        <input type="text" [(ngModel)]="searchText7" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Fourth Table -->
        <select [(ngModel)]="itemsPerPage7" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="row-grouping" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th (click)="sortData()">Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredDataSeven | paginate: { itemsPerPage: itemsPerPage7, currentPage: p7 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>

          <pagination-controls (pageChange)="p7 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Row Grouping table end -->
  <!-- Footer Callback table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Footer Callback</h5>
        <small>Through the use of the header and footer callback manipulation functions provided by DataTables
          (headerCallback and
          footerCallback), it is possible to perform some powerful and useful data manipulation functions.</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Fourth Table -->
        <input type="text" [(ngModel)]="searchText8" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Fourth Table -->
        <select [(ngModel)]="itemsPerPage8" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="footer-callback" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Office</th>
                <th>age</th>
                <th>DOB</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredDataEight | paginate: { itemsPerPage: itemsPerPage8, currentPage: p8 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th></th>
              </tr>
            </tfoot>
          </table>

          <pagination-controls (pageChange)="p8 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Callback table end -->
  <!-- Custom Toolbar Elements start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Custom Toolbar Elements</h5>
        <small>DataTables inserts DOM elements around the table to control DataTables features, and you can make use of
          this mechanism
          as well to insert your own custom elements</small>
      </div>
      <div class="table-controls">
        <!-- Search Input for Fourth Table -->
        <input type="text" [(ngModel)]="searchText9" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Fourth Table -->
        <select [(ngModel)]="itemsPerPage6" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive table-responsive">
          <table id="c-tool-ele" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Office</th>
                <th>age</th>
                <th>DOB</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredDataNine | paginate: { itemsPerPage: itemsPerPage9, currentPage: p9 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th></th>
              </tr>
            </tfoot>
          </table>

          <pagination-controls (pageChange)="p9 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Custom Toolbar Elements end -->
  <!-- Row Created Callback table start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="table-controls">
        <!-- Search Input for Fourth Table -->
        <input type="text" [(ngModel)]="searchText10" placeholder="Search..." class="form-control mb-2" />

        <!-- Entries per Page Dropdown for Fourth Table -->
        <select [(ngModel)]="itemsPerPage6" class="form-control mb-2">
          <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="card-header">
        <h5>Row Created Callback</h5>
        <small>The following example shows how a callback function can be used to format a particular row at draw
          time.</small>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="row-callback" class="table table-striped table-bordered nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredDataTen | paginate: { itemsPerPage: itemsPerPage10, currentPage: p10 }">
                <td>{{ row.name }}</td>
                <td>{{ row.position }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.startDate }}</td>
                <td>{{ row.salary }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
          <pagination-controls (pageChange)="p9 = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Row Created Callback table end -->
</div>
