<h5>Logo & Branding</h5>
<p class="text-muted mb-4">Incorporate a custom logo and favicon, and fine-tune your school thumbnail to enhance its appearance and branding</p>
<div class="row g-3">
    <div class="col-sm-12 col-md-4">
        <p class="mb-2">Logo & Branding</p>
        <form action="../assets/json/file-upload.php" class="dropzone">
            <ngx-dropzone [multiple]="true">
                <ngx-dropzone-label>Drop files here or click to upload.</ngx-dropzone-label>
            </ngx-dropzone>
        </form>
    </div>
    <div class="col-sm-6 col-md-4">
        <p class="mb-2">Thumbnail</p>
        <form action="../assets/json/file-upload.php" class="dropzone">
            <ngx-dropzone [multiple]="true">
                <ngx-dropzone-label>Drop files here or click to upload.</ngx-dropzone-label>
            </ngx-dropzone>
        </form>
    </div>
    <div class="col-sm-6 col-md-4">
        <p class="mb-2">Favicon</p>
        <form action="../assets/json/file-upload.php" class="dropzone">
            <ngx-dropzone [multiple]="true">
                <ngx-dropzone-label>Drop files here or click to upload.</ngx-dropzone-label>
            </ngx-dropzone>
        </form>
    </div>
</div>
<hr class="my-4 border-top border-secondary border-opacity-50" />
<div class="d-flex align-items-center mb-4">
    <div class="flex-shrink-0">
        <img src="../assets/images/admin/img-star.png" alt="img" class="img-fluid" />
    </div>
    <div class="flex-grow-1 ms-3">
        <h6 class="mb-1">Able pro Branding</h6>
        <p class="mb-0 text-muted">Personalize your school and eliminate Able Pro branding from your school website, emails, and products. To access this feature, upgrade to the Professional plan.</p>
    </div>
</div>

<h5>Font Family</h5>
<p class="text-muted mb-4">Change the font used across your school.</p>
<div class="card border">
    <div class="card-body">
        <select class="form-select w-auto mb-3">
            <option selected>Open Sans</option>
            <option value="1">Inter</option>
            <option value="2">Popince</option>
            <option value="3">Roboto</option>
        </select>
        <p class="mb-0 text-muted">Make your school your own and remove Teachable branding from your school website, emails, and all products. Upgrade to the Professional plan to use this feature.</p>
    </div>
</div>

<h5>Color Palette</h5>
<p class="text-muted mb-4">Select a predefined color scheme to establish consistency across your site and products. Alternatively, customize your own color palette to reflect your unique branding and preferences.</p>
<div class="card border">
    <div class="card-body">
        <div class="row g-4 mb-4">
            <div class="col-md-6 col-xl-3">
                <div class="admin-color-block">
                    <h6 class="mb-1">Preset 1</h6>
                    <p class="text-muted text-sm mb-2">Theme Color</p>
                    <div class="card border p-3 shadow-none mb-0">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <i class="fas fa-circle f-26 text-green-600"></i>
                            <i class="fas fa-circle f-26 text-green-400"></i>
                            <i class="fas fa-circle f-26 text-green-200"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="admin-color-block">
                    <h6 class="mb-1">Preset 2</h6>
                    <p class="text-muted text-sm mb-2">Theme Color</p>
                    <div class="card border p-3 shadow-none mb-0">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <i class="fas fa-circle f-26 text-yellow-600"></i>
                            <i class="fas fa-circle f-26 text-yellow-400"></i>
                            <i class="fas fa-circle f-26 text-yellow-200"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="admin-color-block active">
                    <h6 class="mb-1">Preset 3</h6>
                    <p class="text-muted text-sm mb-2">Theme Color</p>
                    <div class="card border p-3 shadow-none mb-0">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <i class="fas fa-circle f-26 text-blue-600"></i>
                            <i class="fas fa-circle f-26 text-blue-400"></i>
                            <i class="fas fa-circle f-26 text-blue-200"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="admin-color-block">
                    <h6 class="mb-1">Preset 4</h6>
                    <p class="text-muted text-sm mb-2">Theme Color</p>
                    <div class="card border p-3 shadow-none mb-0">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <i class="fas fa-circle f-26 text-gray-600"></i>
                            <i class="fas fa-circle f-26 text-gray-400"></i>
                            <i class="fas fa-circle f-26 text-gray-200"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-xl-3">
                <h6 class="mb-1">Nav Bar & Footer Background</h6>
                <p class="text-muted text-sm mb-2">Fixed, scrolling & email</p>
                <div class="card border p-3 shadow-none mb-0">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <i class="fas fa-circle f-26 text-green-400"></i>
                        <p class="mb-0">#96D4BF</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <h6 class="mb-1">Navigation Bar Link</h6>
                <p class="text-muted text-sm mb-2">Links when nav bar is fixed</p>
                <div class="card border p-3 shadow-none mb-0">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <i class="fas fa-circle f-26 text-white"></i>
                        <p class="mb-0">#FFFFFF</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <h6 class="mb-1">Button Background</h6>
                <p class="text-muted text-sm mb-2">Button backgrounds</p>
                <div class="card border p-3 shadow-none mb-0">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <i class="fas fa-circle f-26 text-orange-500"></i>
                        <p class="mb-0">#F47521</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <h6 class="mb-1">Button Background Hover</h6>
                <p class="text-muted text-sm mb-2">Button hover state</p>
                <div class="card border p-3 shadow-none mb-0">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <i class="fas fa-circle f-26 text-gray-600"></i>
                        <p class="mb-0">#969696</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>